@model ICollections.ViewModels.SearchViewModel
@using ICollections.Data.Interfaces

<link rel="stylesheet" title="theme" href="#">
<link rel="stylesheet" type="text/css" href="~/css/CreateCollection/CreateCollection.css"/>
<link rel="stylesheet" type="text/css" href="~/css/Collections/Collection.css"/>

@{
    var data = ViewBag.itemData as IItemRepository;
}

@functions 
{
    static string GetContentPart(string content) 
    {
        const int contentPartSize = 500;

        if (content.Length <= contentPartSize) return content;
        
        content = content[..contentPartSize];
        content += "...";

        return content;
    }
}



@if (!Model.resultItems.Any())
{
    <div class="theme-main-text" style="margin-bottom: 12px">
        <h3 class="lng-SearchResultFalse">Nothing found: </h3>
        <h5>All items: </h5>
    </div>
    
    <div class="row row-cols-1 row-cols-md-4 g-4 theme-main-text">
        @foreach (var item in data!.GetAll().OrderByDescending(n => n.Id))
        {
            <div class="col">
                <div class="card h-100">
                    @if (item.FileName != "")
                    {
                        <img style="display: block; margin: 0 auto" src="https://nikminerstorage.blob.core.windows.net/images/@(item.FileName)" class="rounded-start" alt="Collection photo">
                    }
                    <div class="card-body">
                        <h5 class="card-title"><a class="link" href="/Home/ViewItem/@item.CollectionId/@item.Id">@item.Title</a></h5>
                        <p class="card-text">@GetContentPart(item.Description!)</p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text text-muted">@item.LastEditDate</p>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="theme-main-text" style="margin-bottom: 12px">
        <h3 class="lng-SearchResult">Search results: </h3>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var item in Model.resultItems.OrderByDescending(n => n.Id))
        {
            <div class="col theme-main-text">
                <div class="card h-100">
                    @if (item.FileName != "")
                    {
                        <img style="display: block; margin: 0 auto" src="https://nikminerstorage.blob.core.windows.net/images/@(item.FileName)" class="rounded-start" alt="Collection photo">
                    }
                    <div class="card-body">
                        <h5 class="card-title"><a class="link" href="/Home/ViewItem/@item.CollectionId/@item.Id">@item.Title</a></h5>
                        <p class="card-text">@GetContentPart(item.Description!)</p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text text-muted">@item.LastEditDate</p>
                    </div>
                </div>
            </div>
        }
    </div>
}

<script src="/js/ChangeLanguage.js"></script>
<script src="/js/ChangeTheme.js"></script>

<script>
let pageTitle = (getCurrentLanguage() === 'en') ? 'Search Result - ICollections' : 'Результаты поиска - ICollections';
     
document.querySelector('title').innerHTML = pageTitle;
</script>