@model IEnumerable<ICollections.Models.User>
@using Microsoft.AspNetCore.Identity
@using ICollections.Data
@using Microsoft.EntityFrameworkCore

<script src="~/js/AdminOptions.js"></script>

@{
    var data = ViewBag.db as ApplicationDbContext;
}

@{
    var currentUser = data!.Users.FirstOrDefaultAsync(u => u.Email == User.Identity!.Name).Result;
}

<div class="container block2">
   
    <div class="container">
        <div style="display: flex;">
            <form class="form-inline" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="btn btn-primary text-white lng-Logout">Logout</button>
            </form>
        </div>
        <div style="display:flex;justify-content:center;align-items:center;">
            <button type="button" onclick="deleteCheckedContacts()" class="btn btn-danger btn-lg btn-block lng-Delete">Delete</button>
            <button type="button" onclick="blockCheckedContacts()" class="btn btn-dark btn-lg btn-block lng-Block">Block</button>
            <button type="button" onclick="unblockCheckedContacts()" class="btn btn-dark btn-lg btn-block lng-Unblock">Unblock</button>
            @if (@currentUser!.Role == "super admin")
            {
                <button type="button" onclick="promoteCheckedContacts()" class="btn btn-danger btn-lg btn-block lng-Promote">Promote to admin</button>
                <button type="button" onclick="demoteCheckedContacts()" class="btn btn-danger btn-lg btn-block lng-Demote">Demote to user</button>
            }
        </div>
        <br/>
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
            </tr>
            <tr>
                <th id="text">Id</th>
                <th class="col-md-3 col-xs-3 lng-FirstNameRegister" id="text">First Name</th>
                <th class="col-md-3 col-xs-3 lng-LastNameRegister" id="text">Last Name</th>
                <th class="col-md-3 col-xs-3 lng-EnterEmailLogin" id="text">E-mail</th>
                <th class="col-md-3 col-xs-3 lng-NickNameRegister" id="text">Nickname</th>
                <th class="col-md-3 col-xs-3 lng-ProfileRole" id="text">Role:</th>
                <th class="col-md-3 col-xs-3 lng-ProfileRegistrationDate" id="text">Registration</th>
                <th class="col-md-3 col-xs-3 lng-UserStatus" id="text">Status</th>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                    <label class="form-check-label" for="flexCheckIndeterminate" id="text">
                        <b>Select all / Unselect all</b>
                    </label>
                </div>
            </tr>
            </thead>
            <tbody>

            @foreach (var user in Model)
            {
                <tr>
                    <th scope="row" id="text">@user.Id</th>
                    <td id="text">@user.FirstName</td>
                    <td id="text">@user.LastName</td>
                    <td id="text">@user.Email</td>
                    <td id="text">@user.NickName</td>
                    <td id="text">@user.Role</td>
                    <td id="text">@user.RegisterDate.ToString("d")</td>
                    <td id="text">@user.Status</td>
                    @if(@user.Role == "user" || @currentUser!.Role == "super admin")
                    {
                        <td><input class="user-checkbox" type="checkbox" name="@user.Id"></td>   
                    }
                </tr>
            }
            </tbody>
        </table>

    </div>
</div>


<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script>$('#flexCheckIndeterminate').click(function(event) {   
            if(this.checked) {
                $(':checkbox').each(function() {
                    this.checked = true;                        
                });
            } else {
                $(':checkbox').each(function() {
                    this.checked = false;                       
                });
            }
        }); </script>
        
<script src="/js/ChangeLanguage.js"></script>
<script src="/js/site.js"></script>

<script>
    if (getCurrentLanguage() === "en")
         var pageTitle = "Admin Page - ICollections"
     else
         var pageTitle = "Панель администратора - ICollections"
         
      document.querySelector('title').innerHTML = pageTitle;
</script>