@using ICollections.Data
@using Microsoft.EntityFrameworkCore
@model ICollections.Models.User
@using ICollections.Data.Interfaces
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Web

@{
    var userData = ViewBag.userData as IUserRepository;
    var collectionData = ViewBag.collectionData as ICollectionRepository;

    var userId = userData!.GetSingleAsync(u => u.Email == User.Identity!.Name).Result!.Id;

    var userCollections = collectionData!.FindBy(p => p.AuthorId == userId);
}

@functions
{

    private static string GetContentPart(string content) 
    {

        const int contentPartSize = 500;

        if (content.Length <= contentPartSize) return content;
        content = content[..contentPartSize];
        content += "...";

        return content;

    }

}

<link rel="stylesheet" type="text/css" href="~/css/Collections/Collection.css"/>

<div class="d-flex align-items-center">
    <div class="row">
        <div class="">     
            <h3 class = "display-2 lng-ProfileText theme-main-text">Your profile:</h3>      
            <br/>
            <h3 class="display-2 theme-main-text">@Model.FirstName @Model.LastName</h3>
            <h4 class="lng-NickNameRegister theme-main-text">Nickname:</h4><h4 class="theme-main-text">@Model.NickName</h4><br/>
            <h4 class="lng-AgeRegister theme-main-text">Age:</h4><h4 class="theme-main-text">@Model.Age</h4><br/>
            <h5 class="lng-ProfileRegistrationDate theme-main-text">Registration date:</h5><h5 class="theme-main-text">@Model.RegisterDate</h5><br/>   
            <h5 class="lng-ProfileRole theme-main-text">Role:</h5><h5 class="theme-main-text"><b>@Model.Role</b></h5>
            @if (@Model.Role is "admin" or "super admin")
            {
                <br/><br/>
                <form class="form-inline" asp-controller="AdminPanel" asp-action="AdminPanel">
                    <button type="submit" class="btn btn-danger text-dark lng-AdminPanel">Admin panel</button>
                </form>
            }
        </div>
    </div>
</div>

<br/>


<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
<div class="CollectionsArea">
    
    <h4 class = "lng-YourCollections" id="text">Your collections:</h4>
    <br/>

    <div class="row row-cols-1 row-cols-md-3 g-4 theme-main-text">
        @foreach (var collection in userCollections.OrderByDescending(n => n.Id))
        {
            <div class="col">
                <div class="card h-100">
                    @if (collection.FileName != "")
                    {
                        <img style="display: block; margin: 0 auto" src="https://nikminerstorage.blob.core.windows.net/images/@(collection.FileName)" class="rounded-start" alt="Collection photo" width="140px" height="80px">
                    }
                    <div class="card-body">
                        <h5 class="card-title"><a class="link" href="/Home/ViewCollection/@collection.Id">@collection.Title</a></h5>
                        <p class="card-header">@collection.Theme</p>
                        @{
                            var collectionId = "description" + collection.Id;
                        }
                        <div id=@collectionId></div>
                        <script>
                            function GetConvertedString() {
                                let converter = new showdown.Converter();
                                let md = "@Html.Raw(HttpUtility.JavaScriptStringEncode(@GetContentPart(collection.Description!)))";
                                let html = converter.makeHtml(md);
                                
                                document.getElementById("@Html.Raw(HttpUtility.JavaScriptStringEncode(collectionId))").insertAdjacentHTML("afterend", html);
                            }                  
                        GetConvertedString();
                        </script>
                    </div>
                    <div class="card-footer">
                         <p class="card-text"><small class="text-muted">@collection.LastEditDate</small></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<script src="/js/ChangeLanguage.js"></script>
<script src="/js/ChangeTheme.js"></script>

<script>   
    let pageTitle = (getCurrentLanguage() === 'en') ? 'Profile Page - ICollections' : 'Профиль - ICollections';
         
    document.querySelector('title').innerHTML = pageTitle;
</script>