@model ICollections.Models.User
@using ICollections.Services.Interfaces
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Web

@{
    var userService = ViewBag.userService as IUserService;
    var collectionService = ViewBag.collectionService as ICollectionService;
    var roleService = ViewBag.roleService as IRoleService;

    var userId = userService!.GetUserByEmail(User!.Identity!.Name!).Result!.Id;

    var userCollections = collectionService!.GetCollectionsByUserId(userId);
}

@functions
{

    private static string GetContentPart(string content) 
    {

        const int contentPartSize = 500;

        if (content.Length <= contentPartSize) return content;
        content = content[..contentPartSize];
        content += "...";

        return content;

    }

}
<script src="https://unpkg.com/showdown/dist/showdown.min.js"></script>
<script src="/js/MarkdownConverter.js"></script>
<script>
        var md, context; 
</script>

<link rel="stylesheet" type="text/css" href="~/css/Collections/Collection.css"/>

<div class="d-flex align-items-center">
    <div class="row">
        <div class="">     
            <h3 class = "display-2 lng-ProfileText theme-main-text">Your profile:</h3>      
            <br/>
            <h3 class="display-2 theme-main-text">@Model.FirstName @Model.LastName</h3>
            <h4 class="lng-NickNameRegister theme-main-text">Nickname:</h4><h4 class="theme-main-text">@Model.NickName</h4><br/>
            <h4 class="lng-AgeRegister theme-main-text">Age:</h4><h4 class="theme-main-text">@Model.Age</h4><br/>
            <h5 class="lng-ProfileRegistrationDate theme-main-text">Registration date:</h5><h5 class="theme-main-text">@Model.RegisterDate</h5><br/>   
            <h5 class="lng-ProfileRole theme-main-text">Role:</h5><h5 class="theme-main-text"><b>@roleService!.GetUserRole(Model)</b></h5>
            @if (roleService.GetUserRole(Model) != "user")
            {
                <br/><br/>
                <form class="form-inline" asp-controller="AdminPanel" asp-action="AdminPanel">
                    <button type="submit" class="btn btn-danger text-dark lng-AdminPanel">Admin panel</button>
                </form>
            }
        </div>
    </div>
</div>

<br/>

<div class="CollectionsArea">
    
    <h4 class = "lng-YourCollections theme-main-text">Your collections:</h4>
    
    <select id="filter" style="margin-bottom: 12px">
        <option class="lng-All" value="collection">All</option>
        <option class="lng-BooksTheme" value="books">books</option>
        <option class="lng-FilmsTheme" value="films">films</option>
        <option class="lng-AlcoholTheme" value="alcohol">alcohol</option>
    </select>
    
    <select id="sort" style="margin-bottom: 12px">
        <option class="lng-Descending" value="descending" selected>Order by descending</option>
        <option class="lng-Ascending" value="ascending">Order by ascending</option>
    </select>
    
    <div id="collections">
        @foreach (var collection in userCollections.OrderByDescending(n => n.Id))
        {
            <div class="card mb-3 collection @collection.Theme theme-main-text" data-event-date="@collection.LastEditDate" style="max-width: 1400px;">
                <div class="row g-0">
                    @if (collection.FileName != "")
                    {
                        <div class="col-md-4">
                            <img src="https://nikminerstorage.blob.core.windows.net/images/@(collection.FileName)" class="img-fluid rounded-start" alt="Collection photo">
                        </div>
                    }
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a class="link" href="/Home/ViewCollection/@collection.Id">@collection.Title</a></h5>
                            <p class="card-header">@collection.Theme</p>
    
                            @{
                                var collectionId = "description" + collection.Id;
                            }
                            <div class="collection-description" id=@collectionId></div>
                            <script>
                                md = "@Html.Raw(HttpUtility.JavaScriptStringEncode(GetContentPart(collection.Description!)))";
                                context = "@Html.Raw(HttpUtility.JavaScriptStringEncode(GetContentPart(collectionId)))";
                                
                                if(document.getElementById(context) != null) {
                                    GetConvertedString(md,  context);
                                }
                            </script>
                            
                            <p class="card-text text-muted">@collection.LastEditDate</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/ChangeLanguage.js"></script>
<script src="/js/ChangeTheme.js"></script>
<script src="/js/ProfileFilter.js"></script>
<script src="/js/SortingCollections.js"></script>

<script>   
    let pageTitle = (getCurrentLanguage() === 'en') ? 'Profile Page - ICollections' : 'Профиль - ICollections';
         
    document.querySelector('title').innerHTML = pageTitle;
</script>