@using ICollections.Data
@using Microsoft.EntityFrameworkCore
@model ICollections.Models.User

<div class="d-flex align-items-center">
    <div class="row">
        <div class="">     
            <h3 class = "display-2 lng-ProfileText" id="text">Your profile:</h3>      
            <br/>
            <h3 class="display-2" id="text">@Model.FirstName @Model.LastName</h3>
            <h4 class="lng-NickNameRegister" id="text">Nickname:</h4><h4 id="text">@Model.NickName</h4><br/>
            <h4 class="lng-AgeRegister" id="text">Age:</h4><h4 id="text">@Model.Age</h4><br/>
            <h5 class="lng-ProfileRegistrationDate" id="text">Registration date:</h5><h5 id="text">@Model.RegisterDate</h5><br/>   
            <h5 class="lng-ProfileRole" id="text">Role:</h5><h5 id="text"><b>@Model.Role</b></h5>
            @if (@Model.Role is "admin" or "super admin")
            {
                <br/><br/>
                <form class="form-inline" asp-controller="Home" asp-action="AdminPanel">
                    <button type="submit" class="btn btn-danger text-dark lng-AdminPanel">Admin panel</button>
                </form>
            }
        </div>
    </div>
</div>

<script src="/js/ChangeLanguage.js"></script>
<script src="/js/ChangeTheme.js"></script>

<script>
    if (getCurrentLanguage() === "en")
         var pageTitle = "Profile Page - ICollections"
     else
         var pageTitle = "Профиль - ICollections"
         
      document.querySelector('title').innerHTML = pageTitle;
</script>