@model ICollections.Models.User

@{
    ViewData["Title"] = "Profile Page";
}

<div class="d-flex align-items-center">
    <div class="row">
        <div class="">     
            <h3 class = "display-2 text-black">Your profile:</h3>      
            <br/>
            <h3 class="display-2 text-black">@Model.FirstName @Model.LastName</h3>
            <h4>Nickname: @Model.NickName</h4>
            <h4>Age: @Model.Age</h4>
            <h5>Registration date: @Model.RegisterDate</h5>   
            <h5>Your role: <b>@Model.Role</b></h5>
        </div>
    </div>
</div>