@using ICollections.Data
@using Microsoft.EntityFrameworkCore
@model ICollections.Models.User

@{
    var data = ViewBag.db as ApplicationDbContext;

    var userId = data!.Users.FirstOrDefaultAsync(u => u.Email == User.Identity!.Name).Result!.Id;

    var userCollections = data!.Collections.Where(p => p.AuthorId == userId);
}

@functions {

    string GetContentPart(string content) {

        int CONTENT_PART_SIZE = 500;

        if (content.Length > CONTENT_PART_SIZE)
        {
            content = content.Substring(0, CONTENT_PART_SIZE);
            content += "...";
        }

        return content;

    }

}

<link rel="stylesheet" type="text/css" href="~/css/Collections/Collection.css"/>

<div class="d-flex align-items-center">
    <div class="row">
        <div class="">     
            <h3 class = "display-2 lng-ProfileText" id="text">Your profile:</h3>      
            <br/>
            <h3 class="display-2" id="text">@Model.FirstName @Model.LastName</h3>
            <h4 class="lng-NickNameRegister" id="text">Nickname:</h4><h4 id="text">@Model.NickName</h4><br/>
            <h4 class="lng-AgeRegister" id="text">Age:</h4><h4 id="text">@Model.Age</h4><br/>
            <h5 class="lng-ProfileRegistrationDate" id="text">Registration date:</h5><h5 id="text">@Model.RegisterDate</h5><br/>   
            <h5 class="lng-ProfileRole" id="text">Role:</h5><h5 id="text"><b>@Model.Role</b></h5>
            @if (@Model.Role is "admin" or "super admin")
            {
                <br/><br/>
                <form class="form-inline" asp-controller="AdminPanel" asp-action="AdminPanel">
                    <button type="submit" class="btn btn-danger text-dark lng-AdminPanel">Admin panel</button>
                </form>
            }
        </div>
    </div>
</div>

<br/>

<div class="CollectionsArea">
    
    <h4 class = "lng-YourCollections" id="text">Your collections:</h4>
    <br/>
    
    @foreach (var collection in userCollections.OrderByDescending(n => n.CollectionId))
    {
        <div class="CollectionArea" id = "text">
            <div class="col-md-8 card-body">
                <div class="card-body">
                    <h5 class="card-title"><a class="link" href="/Home/ViewCollection/@collection.CollectionId">@collection.Title</a></h5>
                    <p class="card-header">@collection.Theme</p>
                    <p class="card-text">@GetContentPart(collection.Description!)</p>
                    <p class="card-text"><small class="text-muted">@collection.LastEditDate</small></p>
                </div>
            </div>
        </div>
    }
</div>



<script src="/js/ChangeLanguage.js"></script>
<script src="/js/ChangeTheme.js"></script>

<script>   
    let pageTitle = (getCurrentLanguage() === 'en') ? 'Profile Page - ICollections' : 'Профиль - ICollections';
         
    document.querySelector('title').innerHTML = pageTitle;
</script>