@model ICollections.Models.Collection
@using ICollections.Data
@using Microsoft.EntityFrameworkCore

@functions {

    string GetUserRole()
    {
        if (!User.Identity!.IsAuthenticated) return "user";
        
        var data = ViewBag.db as ApplicationDbContext;

        var userRole = data!.Users.FirstOrDefaultAsync(u => u.Email == User.Identity!.Name).Result!.Role;

        return userRole!;
    }

    string GetTheUserId(string userId)
    {
        var data = ViewBag.db as ApplicationDbContext;

        var userEmail = data!.Users.FindAsync(userId).Result!.Email;

        return userEmail;
    }
    
    
    string GetContentPart(string content) {

        int CONTENT_PART_SIZE = 500;

        if (content.Length > CONTENT_PART_SIZE)
        {
            content = content.Substring(0, CONTENT_PART_SIZE);
            content += "...";
        }

        return content;
    }
}

<link rel="stylesheet" title="theme" href="#">
<link rel="stylesheet" type="text/css" href="~/css/CreateCollection/CreateCollection.css"/>
<link rel="stylesheet" type="text/css" href="~/css/Collections/Collection.css"/>

@if (Model.FileName != "")
{
    <div style="margin-bottom: 12px" align="center">
        <img src="https://nikminerstorage.blob.core.windows.net/images/@(Model.FileName)" width="640px" height="360px" alt="User Photo">
    </div>   
}

<div class="col-md-100" id="text">
    <h2 class="lng-CollectionTitle">Title:</h2>
    <h3>@Model.Title</h3>
</div>

<br/>

<div class="col-md-auto" id="footer-text">
    <h3 class="lng-CollectionSmallDescription">Description:</h3>
    <h4>@Model.Description</h4>
</div>

<br/>

<div class="col-md-auto" id="footer-text">
    <h4 class="lng-CollectionTheme">Theme:</h4>
    <h5>@Model.Theme</h5>
</div>

<br/>

<div align="right" style="margin-bottom: 24px">
    <h5 id="footer-text"><i>@Model.LastEditDate</i></h5>
</div>

@if (GetTheUserId(Model.AuthorId!) == User.Identity!.Name || GetUserRole() != "user")
{
    <form action="/Home/EditCollection/@Model.CollectionId">
        <div align="right" style="margin-bottom: 20px">
            <button class="lng-Edit btn btn-lg btn-outline-primary btn-block">Edit</button>
        </div>
    </form>
    
    <form action="/Home/ViewItem/@Model.CollectionId/DeleteCollection" style="margin-bottom: 36px">
        <div align="right">
            <button class="lng-Delete btn btn-lg btn-outline-danger btn-block">Delete</button>
        </div>
    </form>
}

@if(Model.CollectionItems!.Count() == 0 && (GetTheUserId(Model.AuthorId!) == User.Identity!.Name || GetUserRole() != "user"))
{
    <div class="text-center col-md-auto">
        <h3 class="lng-CollectionEmpty" id="text"><b>Your collection is empty, expand it by adding new item in collection.</b></h3>
    </div>
}
else if (Model.CollectionItems!.Count() == 0 && GetTheUserId(Model.AuthorId!) != User.Identity!.Name)
{
    <div class="text-center col-md-auto">
        <h3 class="lng-CollectionEmptyNotUser" id="text"><b>This is collection is empty, author will expand id by adding new items.</b></h3>
    </div>
}
else
{
    <div class="row row-cols-1 row-cols-md-3 g-4" id="text">
        @foreach (var item in Model.CollectionItems!.ToList().OrderByDescending(n => n.Id))
        {
            <div class="col">
                <div class="card h-100">
                    @if (item.FileName != "")
                    {
                        <img style="display: block; margin: 0 auto" src="https://nikminerstorage.blob.core.windows.net/images/@(item.FileName)" class="rounded-start" alt="Collection photo" width="140px" height="80px">
                    }
                    <div class="card-body">
                        <h5 class="card-title"><a class="link" href="/Home/ViewItem/@item.CollectionId/@item.Id">@item.Title</a></h5>
                        <p class="card-text">@GetContentPart(item.Description!)</p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text text-muted">@item.LastEditDate</p>
                    </div>
                </div>
            </div>
        }
    </div>
}

<br/>

@if (GetTheUserId(Model.AuthorId!) == User.Identity!.Name || GetUserRole() != "user")
{
    <form action="/Home/AddItem/@Model.CollectionId">
        <div class="text-center">
            <button class="lng-AddItemButton btn btn-lg btn-outline-success btn-block">Add Item</button>
        </div>
    </form>
}

<script src="/js/ChangeLanguage.js"></script>
<script src="/js/ChangeTheme.js"></script>

<script>
    let pageTitle = (getCurrentLanguage() === 'en') ? 'View Collection - ICollections' : 'Просмотр коллекции - ICollections';
         
    document.querySelector('title').innerHTML = pageTitle;
</script>